body {
    font-family: "Helvetica";
    margin: 0;
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.responsive-image {
    width: 90%;
    height: auto;
    margin-top: 10px;
}
.popular-section {
    width: 90%;
    margin-top: 30px;
}
.popular-title {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: bold;
}
.flex-box {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}
.flex-box a {
    display: block;
    text-decoration: none;
    color: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.flex-box a:hover {
    color: inherit;
}
.flex-box img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.flex-box:hover img {
    filter: grayscale(0%);
}
.flex-box-title {
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}
.flex-box-subtitle {
    margin-bottom: 5px;
    position: relative;
    z-index: 2;
}
.boulderDetails {
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.title-link {
    text-decoration: none;
    color: inherit;
}
.title-link:hover {
    color: inherit;
}
.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    border: 1px solid black;
    border-radius: 0; /* 90-degree corners */
}

.form-control {
    border-radius: 0; /* 90-degree corners for input fields */
}

.btn-primary {
    width: 100%;
    background-color: black; /* Black background for the submit button */
    border: none;
    border-radius: 0; /* 90-degree corners */
}

.btn-primary:hover {
    background-color: #333; /* Darker shade on hover */
}
.is-invalid {
    border-color: #dc3545;
}
.is-valid {
    border-color: #28a745;
}
.invalid-feedback {
    display: block;
    color: #dc3545;
}
.already {
    text-align: center;
    padding: 20px;
}
.formTag {
    text-align: center;
}
.title-link {
    text-decoration: none;
    color: inherit;
}
.title-link:hover {
    color: inherit;
}
.text-danger {
    margin-top: -8px;
    margin-bottom: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.boulder-profile .divider {
    border-bottom: 1px solid black;
    margin: 20px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-black {
    background-color: black !important;
    color: white !important;
    border: none !important;
    border-radius: 0 !important; /* 90-degree corners */
    font-family: Helvetica, Arial, sans-serif !important; /* Helvetica font */
    font-size: 1.25rem !important; /* Same size as <h3> */
    padding: 0.25rem 0.75rem !important; /* Padding for the button */
}

.btn-black:hover {
    background-color: #333 !important;
    color: white !important;
}

.boulder-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.boulder-details {
    margin-top: 0px;
    width: 100%;
}

.boulder-profile .row {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.boulder-placeholder-container {
    flex: 1 0 45%; /* Flex-grow, flex-shrink, flex-basis */
    margin: 5px; /* Add margin for padding between images */
    padding-bottom: 20px;
    height: 100%;
    position: relative;
}

.boulder-placeholder {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.beta-section .collapse {
    display: none;
}

.beta-section .collapse.show {
    display: block;
}

.scroll-button {
    position: absolute;
    top: 50%; /* Start at the middle */
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px; /* Adjust size as needed */
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}

.scroll-button.left {
    left: -20px; /* Adjust to ensure it's clickable */
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.overlay-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
}

#placeholderContainer {
    padding-left: 5px; /* Adjust this value to move the images to the right */
    overflow: visible; /* Allow content to bleed out */
}

.container {
    overflow: visible; /* Ensure parent container allows overflow */
}