HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
69622907420__451E05E2-462E-4A3A-B09C-D0AFB4A7D656.jpeg
01A13FDB-28E4-42BB-B07D-B55A69DE6092.jpeg
1C211414-8677-44BB-8825-FDFD71B3BCA2.jpeg
FullSizeRender (1).jpg
FullSizeRender.jpg
IMG_0999.jpeg
IMG_1001.jpeg
